<title>About | Twitterly</title>
<%= link_to "Home", pages_home_path %> | <%= link_to "About", pages_about_path %> | <%= link_to "Help", pages_help_path %>
<h1>About</h1>
  <p> This is just a simple clone of twitter that I built for fun </p>
